@use '../../../styles/variables' as *;

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: rgba($bg, 0.72);
  backdrop-filter: blur(12px);
  width: 100%;
}

.border {
   @include borderbottomlight;
}

.navcontainer {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: $space-2 0rem;
  @include desktop-container;
}

